<ion-button (click)="openModal()" (pointerdown)="$event.stopPropagation()"
(dblclick)="$event.stopPropagation()" expand="block" [disabled]="!(data.datasets | hasDatasets)" >Mapping</ion-button>
<ion-modal [isOpen]="isModalOpen" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-title>
        Manage data mapping
      </ion-title>
    </ion-header>
    <ion-content class="ion-padding" scroll-y="false">
      <app-data-mapper [mappings]="data.mappings" [datasets]="data.datasets"></app-data-mapper>
    </ion-content>
  </ng-template>
</ion-modal>
