// Modal ---------------------------------------------------------
ion-modal{
    --border-radius: 20px;
    --border-width: 2px;
    --border-style: solid;
    --border-color: var(--darkPtx);
    --height: auto;
    --background: var(--darkPtx);

    ion-toolbar{
        --background: var(--darkPtx);
    }

    ion-title{
        color: var(--white);
        font-weight: 700;
    }

    &.bottom {
        align-items: flex-end;
    }

    .ion-page {
        position: relative;
        display: block;
        contain: content;

        .inner-content {
            max-height: 50vh;
            overflow: auto;
            padding: 0px;
        }
    }
}

ion-modal .ion-page{
    position: unset !important;
}

// Data type selection ---------------------------------------------------------
#datatypes{
    display: flex;
    flex-direction: column;
    padding: 10px 20px 15px 20px;
    height: 100%;
}

#datatypes-title{
    margin-bottom: clamp(.5em, 7px, 1em);
    width: 100%;
    white-space: nowrap;
}

#datatypes-options{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.radio-container{
    border-radius: 7px;
    width: 32%;
    margin: 3px;
    color: var(--darkPtx);
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: var(--custom-transition);

    &:hover{
        background-color: var(--bluePtxLight);
    }
}

.datatypes-radio{
    --background-hover: var(--darkPtx-tint);
    --background-hover-opacity: .2;
    --border-width: 0px;
    border: 1px solid var(--darkPtx);
    border-radius: 7px;
    padding: 2px 10px;
    transition: var(--custom-transition);
    text-transform: none;
    box-sizing: border-box;

    &:nth-of-type(3n){
        margin-right: 0px;
    }
}

.selected{
    background-color: var(--bluePtx);
    border: 1px solid var(--bluePtx);
    color: white;
    transition: var(--custom-transition);
    font-weight: 800;

    ion-icon{
        fill: white;
        transition: var(--custom-transition);
    }
}

ion-icon{
    margin-right: 5px;
    transform: translate(0px, 2px);
    background-color: transparent !important;
    border: 0px !important;
}

ion-item{
    --padding-start: 0px;
    --inner-padding-end: 0px;
}

// All input ---------------------------------------------------------
ion-input, ion-select{
    --padding-start: 15px;
    --padding-end: 15px;
}


ion-select{
    width: 100%;
    height: fit-content !important;
    min-height: 0px !important;

    &::part(label){
        max-width: 100% !important;

    }
}

// File and folder input ---------------------------------------------------------
#text-input{
    position: relative !important;
    z-index: 1;
    background-color: white;
}

#upload-input{
    position: absolute !important;
    z-index: 0;
    opacity: 1;
}

// #folder-label{
//     padding-left: 15px;
// }

input{
    padding: 0px 15px 3px 15px;
}

.active{
    z-index: 2 !important;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 15px;
    width: 100%;

    input{
        padding: 0px 0px 3px 0px;
    }
}

.label{
    font-size: .75rem !important;
    font-weight: 400;
    margin-top:10px;
}

#csv-header-radio{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    ion-radio{
        margin-right: 40px;
    }
}

// .input-container{
//     display: flex;
//     flex-direction: column;
//     height: 61.5%;
//     overflow: scroll;
// }

// Confirm connection ---------------------------------------------------------
#confirm-container{
    width: 100%;
    height: fit-content;
    border-top: 1px solid var(--darkPtx);
    position: sticky;
    bottom: 0;
    z-index: 1000;
}

#confirm{
    width: 100%;
    height: 100%;
    margin: 0;
    font-weight: 900;
    transition: var(--custom-transition) !important;
    --transition: var(--custom-transition) !important;
    --border-radius: 0px;
    --background: var(--bluePtxLight);
    --background-hover: var(--bluePtx);
    --background-hover-opacity: 1;
    --color: var(--darkPtx);
    --color-hover: var(--white);
}

progress{
    width: 100%;
}
