.theme-ptx {
    // --socket-size: 20px;

    #rete-container {
        background: var(--white) !important;
        background-image: radial-gradient(var(--grayMedium) 1px, transparent 0) !important;
        background-size: 40px 40px !important;

        .circle.yellow,
        .circle.orange,
        .circle.green,
        .circle.red {
            margin: .5em .5em !important;
            border: 1px solid var(--grayMedium)
        }

        .playButton {
            background: #17243F !important;
            color: white !important;
            margin: .5em !important;

            &:hover {
                background: #203257 !important
            }
            &:disabled {
              opacity: 0.5;
            }
        }
    }

    app-custom-connections {
        svg {
            path {
                stroke-width: 2px !important;
                stroke-dasharray: 10, 10;
                animation: dashdraw 1s linear infinite
            }
        }
    }

    #toolbar-transform {
        border-right: 1px solid var(--grayMedium);

        .node {
            border: none;
            box-shadow: none;

            .title {
                margin: 0 !important;
            }
        }
    }

    .node {
        background-color: var(--white);
        max-width: 350px;
        width: 350px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 4px 0px;
        --socket-size: 20px;

        .title {
            margin: .5em .5em;
            margin-left: 3em;
            border-radius: 10px;
            width: fit-content;
            text-align: right;
        }



        .control {
            text-align: left;

            .mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-mdc-text-field-wrapper,
            .mdc-text-field--filled:not(.mdc-text-field--disabled) {
                border-radius: 10px;
                border: 1px solid var(--grayMedium);
            }

            .cdk-overlay-pane:not(.mat-mdc-select-panel-above) div.mat-mdc-select-panel {
                border-radius: 10px;
            }

            .mat-mdc-option:focus.mdc-list-item,
            .mat-mdc-option.mat-mdc-option-active.mdc-list-item {
                border-radius: 10px;
            }

            .mat-mdc-form-field {
                width: 100%;
            }

            .mdc-checkbox .mdc-checkbox__native-control:enabled:focus:checked~.mdc-checkbox__background,
            .mdc-checkbox .mdc-checkbox__native-control:enabled:focus:indeterminate~.mdc-checkbox__background,
            .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
            .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background,
            .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate="true"]:enabled~.mdc-checkbox__background {
                border-color: #17243F !important;
            }

            .mat-mdc-checkbox .mdc-checkbox__ripple {
                display: none !important;
            }

            .mdc-checkbox__native-control:enabled~.mdc-checkbox__background {

                .mdc-checkbox__checkmark,
                .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
                .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background {
                    background-color: #17243F;
                    border-color: #17243F !important;
                }
            }
        }
    }

    .node.selected {
        outline: none !important;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        border: 5px solid orange;
    }

    .input-node {
        border: 3px solid #00A2AE;

        .title {
            background-color: #B5E9EE !important;
            color: black !important;
        }

    }

    .output-node {
        border: 3px solid #08FFAD;

        .title {
            background-color: #B3FFDE !important;
            color: black !important;
        }

    }

    .transform-node {
        border: 3px solid #17243F;

        .title {
            background-color: #546174 !important;
            color: white !important;
        }

    }

    @keyframes dashdraw {
        from {
            stroke-dashoffset: 0;
        }

        to {
            stroke-dashoffset: -20;
        }
    }
}
