<h2 mat-dialog-title>Update Workflow Rules</h2>
<mat-dialog-content>

  <mat-checkbox [(ngModel)]="automatic">Automatic</mat-checkbox>
    <div *ngIf="automatic" class="mt-4">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Update Instructions</mat-label>
        <textarea matInput rows="5" [(ngModel)]="updateText" placeholder="Examples: 'Every Monday at 8PM', 'Daily at 2AM', 'Every 15th of the month at noon'"></textarea>
        <mat-hint>Describe when you want updates to run.</mat-hint>
      </mat-form-field>
    </div>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancel</button>
  <button mat-raised-button color="primary" (click)="confirm()">Confirm</button>
</mat-dialog-actions>
